{% extends 'back.html.twig' %}

{% block content %}
    <h3>Liste des posts</h3>
    <div>
            <a class="btn btn-primary float-right mb-3" href="{{ path('admin_post_new') }}">Nouveau Post</a>
    </div>

        <div class="row">
        {% for post in posts %}
        <div class="col-md-4">
            <div class="card mb-2" style="width: 18rem;">
                <img src="{{ asset('uploads/posts/') ~ post.image }}" class="card-img-top" alt="imagepost" width="268" height="180">
                <div class="card-body">
                  <h5 class="card-title">{{ post.titre | slice(0,80) }}</h5>
                  <p class="card-text">{{ post.description }}</p>
                  <a href="{{ path('admin_post_show', { 'id': post.id }) }}" class="btn btn-primary">Afficher</a>
                  <a href="{{ path('admin_post_edit', { 'id': post.id }) }}" class="btn btn-warning">Modifier</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
        
           
        



{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Tableau de bord</a></li>
            <li class="breadcrumb-item active" aria-current="page">Liste des articles</li>
        </ol>
    </nav>
{% endblock %}
